#lights{
	display: table;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.light{
	float: left;
	width: 80px;
}

.light.on {
	color: yellow;
}

.light.off{
	color: black;
}

#feeders{
	display: table;
    margin: 0 auto;
}

.feeder{
	float: left;
	width: 80px;
}

/* Data Viewer */

#dataExplorerContainer{
	width=100%; 
	height:100%;
}

#dataNavigator{
	float: left; 
	width: 15%; 
	height:100%; 
	border-right: 1px solid;
}

#dataViewer{
	float: left; 
	width: 85%; 
	height:100%; 
}

